@property --color-white {
  syntax: "<color>";
  initial-value: white;
  inherits: true;
}

@property --color-black {
  syntax: "<color>";
  initial-value: black;
  inherits: true;
}

	* {
		box-sizing: border-box;
		padding: 0;
		margin: 0;
	}

	*:not(:where(html, body)) {
		font-family: inherit;
		font-size: inherit;
	}

	html {
		height: 100vh;
		font-size: 100%;
	}

	body {
		min-height: 100vh;
		height: 100%;
	}